# The VSIX ships ONLY: dist/ (bundle, no sourcemaps), media/, README.md,
# CHANGELOG.md, LICENSE, example-todo.md — plus package.json, which vsce
# always includes. Everything else is ignored wholesale.
**
!dist/extension.js
!media/**
!README.md
!CHANGELOG.md
!LICENSE
!example-todo.md
